*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_

.kotlin/
build/
.dart_tool/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
**/flutter_module/build/
**/flutter_module/.android/
**/flutter_module/.ios/
Thumbs.db
Desktop.ini
.DS_Store
*.jks
*.keystore
google-services.json 
